################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs
/src/BuggyDemoConsole/.vs
/src/BuggyDemoConsole/bin
/src/BuggyDemoConsole/obj
/src/BuggyDemoWeb/.config
/src/BuggyDemoWeb/.vs
/src/BuggyDemoWeb/bin
/src/BuggyDemoWeb/obj
/src/BuggyDemoWeb/Properties/ServiceDependencies
