################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/aspnetcore/.config/dotnet-tools.json
/.vs
/src/aspnetcore/Properties/ServiceDependencies/BDCWSW - Web Deploy
