@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>
Have you ever seen a killer demo that fizzles at the end because the root cause is a contrived Thread.Wait() or throw new Exception()! Demo's are hard enough by themselves so coming up with an realistic or inventive bug can be challenging.
</p>

<p>
The goal of this project is to collect a list of subtle, possibly nontrivial, bugs that can be easily integrated into your .NET Core demos. These bugs have been curated from real world examples and have been categorized into symptoms that a customer might describe. These are the kind of bugs you might miss during development but would become obvious in production or with some nominal cutomer load.
</p>

<p>
This app is not intended to represent an end-to-end demo, it is simply designed to illustrate several classes of bugs and antipatterns that you can easily lift and shift into your own full demos.
</p>