@{
    ViewData["Title"] = "Home Page";
}

@model List<Routes>;


<div class="text-center">
    <h1 class="display-4">Welcome to Buggy Demo Code</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @foreach(var route in @Model)
    {
        <a href="@route.Url" title="">@route.Url</a> <br />
    }

</div>
